In [96]:
rows=int(input('PLease Enter NUmber'))
for i in range (1,rows+1):
    for j in range (1,i+1):
        print ('#',end=' ')
    print()

PLease Enter NUmber 7

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

In [108]:
rows=int(input('PLease Enter NUmber'))
for i in range (1,rows):
    for j in range (1,rows):
        print ('#',end=' ')
    print()

PLease Enter NUmber 7

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [110]:
list=['Python','Numpy','Pandas','Flask']
for items in list:
    print (items)

Python
Numpy
Pandas
Flask

In [120]:
sum_of_all_evens=0
sum_of_all_odd=0
for i in range (1,100):
    if i%2==0:
        sum_of_all_evens+=i
    else:
        sum_of_all_odd+=i

print ('sum of all evens= ',sum_of_all_evens)
print ('sum_of_all_odd= ',sum_of_all_odd)

sum of all evens=  2450
sum_of_all_odd=  2500

In [142]:
cube=[]
number=int(input('Please Enter your number'))
for i in range(1,number+1):
        cube.append(i**3)

print ('cube',cube)

Please Enter your number 10

cube [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [148]:
def add_two_numbers(parameter1,parameter2):
    sum=parameter1+parameter2
    return sum
    
parameter1=int(input('Please enter'))
parameter2=int(input('Please enter'))
add_two_numbers(parameter1,parameter2)

Please enter 10
Please enter 20

30

In [172]:
import math

def Area_of_circle(r):
    Area=math.pi*r*r
    return Area
Radius=int(input('Please Enter'))
Area_of_circle(Radius)

Please Enter 10

314.1592653589793

In [210]:
def add_all_nums(*args):
    result=0
    for num in args:
        result+=num
    return result
try:
    nums=[int(x) for x in input('Please enter').split(',')]
    print(add_all_nums(*nums))
except ValueError:
    print('format is incorrect')

Please enter a=4,b=4

format is incorrect

In [222]:
def example_fun(**kwargs):
    print(kwargs)

report=(input('Please Enter').split(','))
example_fun(report)

Please Enter a=1

TypeError: example_fun() takes 0 positional arguments but 1 was given

In [228]:
def celsius_to_fahrenheit(C):
    F=(C*9/5)+32
    return F
    
C=int(input('Please enter'))
celsius_to_fahrenheit(C)

Please enter 10

50.0

In [260]:
season={
    'January':'Winter','February':'Winter','March':'Winter', 
    'April':'spring','May':'spring','June':'spring',
    'July':'summer','August':'summer','September':'summer', 
    'October':'autumn', 'November':'autumn', 'December':'autumn'}
def check_season(month):
    for i in season:
        season==month
    return season
    
month=input('please enter month')
check_season(month)

please enter month january

{'January': 'Winter',
 'February': 'Winter',
 'March': 'Winter',
 'April': 'spring',
 'May': 'spring',
 'June': 'spring',
 'July': 'summer',
 'August': 'summer',
 'September': 'summer',
 'October': 'autumn',
 'November': 'autumn',
 'December': 'autumn'}

In [276]:
def calculate_slope(x1,y1,x2,y2):
    slope=(y2-y1)/(x2-x1)
    return slope
x1=int(input('Please Enter x1'))
y1=int(input('Please Enter y1'))
x2=int(input('Please Enter x2'))
y2=int(input('Please Enter y2'))
calculate_slope(x1,y1,x2,y2)

Please Enter x1 10
Please Enter y1 5
Please Enter x2 5
Please Enter y2 10

-1.0

In [286]:
first_name='syed'
last_name='karrobi'
if len(first_name) > len(last_name):
    print ('len(first_name) is greater',len(first_name))
else:
    print ('len(last_name) is greater',len(last_name))

len(last_name) is greater 7

In [17]:
#calculator
def total(a,b):
    total=a+b
    print('total',total)
def subtract(a,b):
    diff=a-b
    print('diff',diff)
def multiply(a,b):
    multiply=a*b
    print('multiply',multiply)
def div(a,b):
    div=a/b
    print('div',div)

print('0 Exit')
print('1 total')
print('2 subtract')
print('3 multiply')
print ('4 div')
while True:
    choice=input('Please enter number 0,1,2,3 or 4')
    if choice in ('0','1','2','3','4'):
        if choice == '0':
            print('You are now Exit')
            break
        try:
            number_one=float(input('Enter number'))
            number_two=float(input('Enter number'))
        except ValueError:
            print('Invalid input')
            continue
        if choice == '1':
            total(number_one,number_two)
            print(total)
        if choice == '2':
            subtract(number_two,number_one)
            print(subtract)
        if choice == '3':
            multiply(number_one,number_two)
            print(multiply)
        if choice == '4':
            div(number_one,number_two)
            print(div)

0 Exit
1 total
2 subtract
3 multiply
4 div

Please enter number 0,1,2,3 or 4 1
Enter number a

Invalid input

Please enter number 0,1,2,3 or 4 1
Enter number 2
Enter number 5

total 7.0
<function total at 0x000001E2B1C96D40>

Please enter number 0,1,2,3 or 4 0

You are now Exit

In [65]:
rows=int(input('Please Enter'))
for i in range (1,rows+1):
    for j in range (1,i+1):
        print('#',end=' ')
    print()
for k in range (rows+1,0,-1):
    for l in range (1,k+1):
        print('#',end=' ')
    print()

Please Enter 7

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#

In [71]:
rows=int(input('Please Enter'))
for i in range (1,rows):
    for j in range (1,rows):
        print ('#',end=' ')
    print()

Please Enter 7

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [43]:
other=[int(x)for x in input('Enter your number').split(",")]
Add =0
for i in other:
        Add+=i
print ('Your total sum is',Sum)   
print(type(other))

Enter your number 1,5,10

Your total sum is 12
<class 'list'>

In [101]:
def concatenate(list_):
    concatenate_=' '
    for i in list_:
        concatenate_=concatenate_+" "+i
    return concatenate_

list_of_string=['apple','banana','grapes']
concatenate(list_of_string)

'  apple banana grapes'

In [47]:
other=[int(x)for x in input('Enter your number').split(",")]
largest_number =0
for i in other:
    if i>largest_number:
        largest_number=i
print(largest_number)

Enter your number 1,5,10

10

In [93]:
items=[]
for i in range(1,10):
    items.append(i**2)
print (items)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [123]:
list_of_numbers=[int(i)for i in input('Please enter your number').split(",")]
new_list=[]
for i in list_of_numbers:
    if i%2==0:
        new_list.append(i)
print(new_list)

Please enter your number 1,5,10

[10]

In [171]:
def element_wise(list1,list2):
    addition=[]
    for i in range(len(list1)):
        addition.append(list1[i]+list2[i])
    return addition
list1=[int(x)for x in input('Please create your list').split(',')]
list2=[int(x)for x in input('Please create your list').split(',')]
element_wise(list1,list2)

Please create your list 1,5
Please create your list 5,1

[6, 6]

In [189]:
fruits=['apple','banana','grapes']
length=[]
def list_of_strings(fruits):
    for i in range(len(fruits)):
        length.append(len(fruits[i]))
    return length
list_of_strings(fruits)

[5, 6, 6]

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]
slicing=list[1::2]
for i in slicing:
    print (i)

2
4
6
8
10

In [13]:
rows=int(input('please enter rows'))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('#',end=' ')
    print()
for k in range(rows+1,0,-1):
    for l in range(1,k+1):
        print('#',end=' ')
    print()

please enter rows 7

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#

In [113]:
rows=int(input('please enter rows'))
for i in range(1,rows+1):
    for j in range(rows-i):
        print(' ',end=' ')
    for k in range(1,i*2):
        print('#',end=' ')
    print()
for l in range(rows,0,-1):
    for m in range(rows-l):
        print(' ',end=' ')
    for n in range(2*l-1):
        print('#',end=' ')
    print()

please enter rows 5

        #
      # # #
    # # # # #
  # # # # # # #
# # # # # # # # #
# # # # # # # # #
  # # # # # # #
    # # # # #
      # # #
        #